<div class="form-container">
  <%= simple_form_for(@restaurant) do |f| %>

    <% if @restaurant.errors.any? %>
      <div class="errors-container">
        <ul>
          <% @restaurant.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :category %>
      <%= f.input :phone_number %>
    </div>

    <div class="form-actions btn btn-primary">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
